version: '2'
services:
  kibana:
    image: docker.elastic.co/kibana/kibana:6.6.2
    container_name: kibana
    volumes:
      - "./kibana.yml:/usr/share/kibana/config/kibana.yml"
    restart: always
    ports:
      - "5601:5601"
    links:
      - elasticsearch
    depends_on:
      - elasticsearch
    networks:
      - exam

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.6.2
    container_name: elasticsearch
    environment:
      - cluster.name=docker-cluster
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 2g
    volumes:
      - "./esdata:/usr/share/elasticsearch/data"
    ports:
      - "9200:9200"
    networks:
      - exam

#  filebeat:
#    image: docker.elastic.co/beats/filebeat:5.4.3
#    container_name: filebeat2
#    mem_limit: 1g
#    volumes:
#      - "./filebeat.yml:/usr/share/filebeat/filebeat.yml:ro"
#    links:
#      - elasticsearch
#    networks:
#      - exam

  logstash:
    image: docker.elastic.co/logstash/logstash:6.6.2
    container_name: logstash
    volumes:
      - "./logstash.conf:/config-dir/logstash.conf"
    restart: always
    command: logstash -f /config-dir/logstash.conf
    ports:
      - "9600:9600"
    links:
      - elasticsearch
    networks:
      - exam

networks:
  exam:
    external: true
